Require a method to know when a websocket is ready to send message back to client

When the web socket server want to send message to client immediately after connected, RequestHandler will throw exception, see code below:

``` scala
import org.mashupbots.socko.webserver._
import org.mashupbots.socko.routes._
import org.mashupbots.socko.events._
import org.mashupbots.socko.handlers._

import akka.actor._
import akka.util.duration._

object Main extends App {
  val actorSystem = ActorSystem("socko-t1")
  val log = akka.event.Logging.getLogger(actorSystem, this)

  val routes = Routes({
    case HttpRequest(httpRequest) ⇒ httpRequest match {
      case _ ⇒ httpRequest.response.write(HttpResponseStatus.NOT_FOUND)
    }

    case event @ Path("/") ⇒ event match {
      case e: WebSocketHandshakeEvent ⇒ {
        e.authorize()


        val b = actorSystem.actorOf(Props[WebSocketBroadcaster])
        b ! WebSocketBroadcasterRegistration(e)
        b ! WebSocketBroadcastText("test message")

      }
      case e: WebSocketFrameEvent ⇒ {
        log.debug("get event {}", e)
      }
    }
  })

  val webServer = new WebServer(
    WebServerConfig(port = 12345),
    routes, actorSystem
  )

  webServer.start()

  Runtime.getRuntime.addShutdownHook(new Thread {
    override def run { webServer.stop() }
  })
}

```

but send the message later is ok:

``` scala
import org.mashupbots.socko.webserver._
import org.mashupbots.socko.routes._
import org.mashupbots.socko.events._
import org.mashupbots.socko.handlers._

import akka.actor._
import akka.util.duration._

object Main extends App {
  val actorSystem = ActorSystem("socko-t1")
  val log = akka.event.Logging.getLogger(actorSystem, this)

  val routes = Routes({
    case HttpRequest(httpRequest) ⇒ httpRequest match {
      case _ ⇒ httpRequest.response.write(HttpResponseStatus.NOT_FOUND)
    }

    case event @ Path("/") ⇒ event match {
      case e: WebSocketHandshakeEvent ⇒ {
        e.authorize()

        actorSystem.scheduler.scheduleOnce(1 milliseconds) {
          val b = actorSystem.actorOf(Props[WebSocketBroadcaster])
          b ! WebSocketBroadcasterRegistration(e)
          b ! WebSocketBroadcastText("test message")
        }
      }
      case e: WebSocketFrameEvent ⇒ {
        log.debug("get event {}", e)
      }
    }
  })

  val webServer = new WebServer(
    WebServerConfig(port = 12345),
    routes, actorSystem
  )

  webServer.start()

  Runtime.getRuntime.addShutdownHook(new Thread {
    override def run { webServer.stop() }
  })
}
```

I believe that this is because the WebSocket is not ready to send message back when handling WebSocketHandshakeEvent, and after 1ms, the initialize work is finished, and it's ok to send message. But there is no easy way(or obvious way) to know whether the WebSocket is ready to send message back to client now and I can not find how to call some code when the WebSocket is ready.

I think we can generate an event or call some callback function just after doWebSocketHandshake in messageReceived method of RequestHandler to solve the problem.


What is the Exception that is thrown by RequestHandler?


```
java.lang.IllegalArgumentException: unsupported message type: class org.jboss.netty.handler.codec.http.websocketx.TextWebSocketFrame
    at org.jboss.netty.channel.socket.nio.SocketSendBufferPool.acquire(SocketSendBufferPool.java:53) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.write0(AbstractNioWorker.java:480) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.writeFromUserCode(AbstractNioWorker.java:439) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioServerSocketPipelineSink.handleAcceptedSocket(NioServerSocketPipelineSink.java:127) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioServerSocketPipelineSink.eventSunk(NioServerSocketPipelineSink.java:66) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:733) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.oneone.OneToOneEncoder.handleDownstream(OneToOneEncoder.java:65) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.flush(ChunkedWriteHandler.java:284) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleDownstream(ChunkedWriteHandler.java:121) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:712) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:679) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.AbstractChannel.write(AbstractChannel.java:246) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.http.websocketx.WebSocketServerHandshaker08.handshake(WebSocketServerHandshaker08.java:170) ~[netty-3.5.3.Final.jar:na]
    at org.mashupbots.socko.webserver.RequestHandler.doWebSocketHandshake(RequestHandler.scala:276) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.mashupbots.socko.webserver.RequestHandler.messageReceived(RequestHandler.scala:106) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleUpstream(ChunkedWriteHandler.java:142) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.http.HttpChunkAggregator.messageReceived(HttpChunkAggregator.java:149) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:296) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.frame.FrameDecoder.unfoldAndFireMessageReceived(FrameDecoder.java:455) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.replay.ReplayingDecoder.callDecode(ReplayingDecoder.java:538) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.replay.ReplayingDecoder.messageReceived(ReplayingDecoder.java:437) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:268) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:255) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.read(NioWorker.java:91) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.processSelectedKeys(AbstractNioWorker.java:385) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.run(AbstractNioWorker.java:256) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.run(NioWorker.java:35) ~[netty-3.5.3.Final.jar:na]
    at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1110) [na:1.7.0_07]
    at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:603) [na:1.7.0_07]
    at java.lang.Thread.run(Thread.java:722) [na:1.7.0_07]
09:53:42.335 [New I/O  worker #1] DEBUG o.m.socko.webserver.RequestHandler - Error handling request
java.lang.IllegalArgumentException: unsupported message type: class org.jboss.netty.handler.codec.http.websocketx.TextWebSocketFrame
    at org.jboss.netty.channel.socket.nio.SocketSendBufferPool.acquire(SocketSendBufferPool.java:53) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.write0(AbstractNioWorker.java:480) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.writeFromUserCode(AbstractNioWorker.java:439) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioServerSocketPipelineSink.handleAcceptedSocket(NioServerSocketPipelineSink.java:127) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioServerSocketPipelineSink.eventSunk(NioServerSocketPipelineSink.java:66) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:733) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.oneone.OneToOneEncoder.handleDownstream(OneToOneEncoder.java:65) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.flush(ChunkedWriteHandler.java:284) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleDownstream(ChunkedWriteHandler.java:121) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:712) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:679) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.AbstractChannel.write(AbstractChannel.java:246) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.http.websocketx.WebSocketServerHandshaker08.handshake(WebSocketServerHandshaker08.java:170) ~[netty-3.5.3.Final.jar:na]
    at org.mashupbots.socko.webserver.RequestHandler.doWebSocketHandshake(RequestHandler.scala:276) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.mashupbots.socko.webserver.RequestHandler.messageReceived(RequestHandler.scala:106) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleUpstream(ChunkedWriteHandler.java:142) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.http.HttpChunkAggregator.messageReceived(HttpChunkAggregator.java:149) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:296) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.frame.FrameDecoder.unfoldAndFireMessageReceived(FrameDecoder.java:455) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.replay.ReplayingDecoder.callDecode(ReplayingDecoder.java:538) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.replay.ReplayingDecoder.messageReceived(ReplayingDecoder.java:437) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:268) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:255) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.read(NioWorker.java:91) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.processSelectedKeys(AbstractNioWorker.java:385) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.run(AbstractNioWorker.java:256) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.run(NioWorker.java:35) ~[netty-3.5.3.Final.jar:na]
    at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1110) [na:1.7.0_07]
    at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:603) [na:1.7.0_07]
    at java.lang.Thread.run(Thread.java:722) [na:1.7.0_07]
09:53:42.337 [New I/O  worker #1] ERROR o.m.socko.webserver.RequestHandler - Exception caught in HttpRequestHandler
java.lang.NullPointerException: null
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.cleanUpWriteBuffer(AbstractNioWorker.java:678) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.close(AbstractNioWorker.java:642) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioServerSocketPipelineSink.handleAcceptedSocket(NioServerSocketPipelineSink.java:109) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioServerSocketPipelineSink.eventSunk(NioServerSocketPipelineSink.java:66) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.oneone.OneToOneEncoder.handleDownstream(OneToOneEncoder.java:55) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleDownstream(ChunkedWriteHandler.java:109) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.close(Channels.java:821) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.AbstractChannel.close(AbstractChannel.java:195) ~[netty-3.5.3.Final.jar:na]
    at org.mashupbots.socko.webserver.RequestHandler.exceptionCaught(RequestHandler.scala:195) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleUpstream(ChunkedWriteHandler.java:142) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.frame.FrameDecoder.exceptionCaught(FrameDecoder.java:378) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireExceptionCaught(Channels.java:533) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.AbstractChannelSink.exceptionCaught(AbstractChannelSink.java:49) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:733) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.oneone.OneToOneEncoder.handleDownstream(OneToOneEncoder.java:65) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.flush(ChunkedWriteHandler.java:284) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleDownstream(ChunkedWriteHandler.java:121) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:712) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:679) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.AbstractChannel.write(AbstractChannel.java:246) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.http.websocketx.WebSocketServerHandshaker08.handshake(WebSocketServerHandshaker08.java:170) ~[netty-3.5.3.Final.jar:na]
    at org.mashupbots.socko.webserver.RequestHandler.doWebSocketHandshake(RequestHandler.scala:276) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.mashupbots.socko.webserver.RequestHandler.messageReceived(RequestHandler.scala:106) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleUpstream(ChunkedWriteHandler.java:142) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.http.HttpChunkAggregator.messageReceived(HttpChunkAggregator.java:149) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:296) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.frame.FrameDecoder.unfoldAndFireMessageReceived(FrameDecoder.java:455) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.replay.ReplayingDecoder.callDecode(ReplayingDecoder.java:538) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.replay.ReplayingDecoder.messageReceived(ReplayingDecoder.java:437) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:268) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:255) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.read(NioWorker.java:91) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.processSelectedKeys(AbstractNioWorker.java:385) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.run(AbstractNioWorker.java:256) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.run(NioWorker.java:35) ~[netty-3.5.3.Final.jar:na]
    at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1110) [na:1.7.0_07]
    at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:603) [na:1.7.0_07]
    at java.lang.Thread.run(Thread.java:722) [na:1.7.0_07]
09:53:42.338 [New I/O  worker #1] DEBUG o.m.socko.webserver.RequestHandler - Error handling request
java.lang.NullPointerException: null
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.cleanUpWriteBuffer(AbstractNioWorker.java:678) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.close(AbstractNioWorker.java:642) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioServerSocketPipelineSink.handleAcceptedSocket(NioServerSocketPipelineSink.java:109) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioServerSocketPipelineSink.eventSunk(NioServerSocketPipelineSink.java:66) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.oneone.OneToOneEncoder.handleDownstream(OneToOneEncoder.java:55) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleDownstream(ChunkedWriteHandler.java:109) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.close(Channels.java:821) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.AbstractChannel.close(AbstractChannel.java:195) ~[netty-3.5.3.Final.jar:na]
    at org.mashupbots.socko.webserver.RequestHandler.exceptionCaught(RequestHandler.scala:195) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleUpstream(ChunkedWriteHandler.java:142) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.frame.FrameDecoder.exceptionCaught(FrameDecoder.java:378) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireExceptionCaught(Channels.java:533) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.AbstractChannelSink.exceptionCaught(AbstractChannelSink.java:49) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:733) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.oneone.OneToOneEncoder.handleDownstream(OneToOneEncoder.java:65) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.flush(ChunkedWriteHandler.java:284) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleDownstream(ChunkedWriteHandler.java:121) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:712) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.write(Channels.java:679) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.AbstractChannel.write(AbstractChannel.java:246) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.http.websocketx.WebSocketServerHandshaker08.handshake(WebSocketServerHandshaker08.java:170) ~[netty-3.5.3.Final.jar:na]
    at org.mashupbots.socko.webserver.RequestHandler.doWebSocketHandshake(RequestHandler.scala:276) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.mashupbots.socko.webserver.RequestHandler.messageReceived(RequestHandler.scala:106) ~[socko-webserver_2.9.1-0.2.1.jar:0.2.1]
    at org.jboss.netty.handler.stream.ChunkedWriteHandler.handleUpstream(ChunkedWriteHandler.java:142) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.http.HttpChunkAggregator.messageReceived(HttpChunkAggregator.java:149) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:296) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.frame.FrameDecoder.unfoldAndFireMessageReceived(FrameDecoder.java:455) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.replay.ReplayingDecoder.callDecode(ReplayingDecoder.java:538) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.handler.codec.replay.ReplayingDecoder.messageReceived(ReplayingDecoder.java:437) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:268) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.Channels.fireMessageReceived(Channels.java:255) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.read(NioWorker.java:91) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.processSelectedKeys(AbstractNioWorker.java:385) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.run(AbstractNioWorker.java:256) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.run(NioWorker.java:35) ~[netty-3.5.3.Final.jar:na]
    at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1110) [na:1.7.0_07]
    at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:603) [na:1.7.0_07]
    at java.lang.Thread.run(Thread.java:722) [na:1.7.0_07]
09:53:42.344 [New I/O  worker #1] ERROR o.m.socko.webserver.RequestHandler - Exception caught in HttpRequestHandler
java.lang.NullPointerException: null
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.write0(AbstractNioWorker.java:489) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.writeFromTaskLoop(AbstractNioWorker.java:444) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioChannel$WriteTask.run(AbstractNioChannel.java:366) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.processWriteTaskQueue(AbstractNioWorker.java:362) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.run(AbstractNioWorker.java:255) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.run(NioWorker.java:35) ~[netty-3.5.3.Final.jar:na]
    at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1110) [na:1.7.0_07]
    at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:603) [na:1.7.0_07]
    at java.lang.Thread.run(Thread.java:722) [na:1.7.0_07]
09:53:42.345 [New I/O  worker #1] DEBUG o.m.socko.webserver.RequestHandler - Error handling request
java.lang.NullPointerException: null
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.write0(AbstractNioWorker.java:489) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.writeFromTaskLoop(AbstractNioWorker.java:444) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioChannel$WriteTask.run(AbstractNioChannel.java:366) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.processWriteTaskQueue(AbstractNioWorker.java:362) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.run(AbstractNioWorker.java:255) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.run(NioWorker.java:35) ~[netty-3.5.3.Final.jar:na]
    at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1110) [na:1.7.0_07]
    at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:603) [na:1.7.0_07]
    at java.lang.Thread.run(Thread.java:722) [na:1.7.0_07]
09:53:42.347 [New I/O  worker #1] ERROR o.m.socko.webserver.RequestHandler - Exception caught in HttpRequestHandler
java.nio.channels.ClosedChannelException: null
    at sun.nio.ch.SocketChannelImpl.ensureWriteOpen(SocketChannelImpl.java:249) ~[na:1.7.0_07]
    at sun.nio.ch.SocketChannelImpl.write(SocketChannelImpl.java:440) ~[na:1.7.0_07]
    at org.jboss.netty.channel.socket.nio.SocketSendBufferPool$PooledSendBuffer.transferTo(SocketSendBufferPool.java:242) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.write0(AbstractNioWorker.java:489) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.writeFromTaskLoop(AbstractNioWorker.java:444) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioChannel$WriteTask.run(AbstractNioChannel.java:366) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.processWriteTaskQueue(AbstractNioWorker.java:362) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.run(AbstractNioWorker.java:255) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.run(NioWorker.java:35) ~[netty-3.5.3.Final.jar:na]
    at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1110) [na:1.7.0_07]
    at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:603) [na:1.7.0_07]
    at java.lang.Thread.run(Thread.java:722) [na:1.7.0_07]
09:53:42.348 [New I/O  worker #1] DEBUG o.m.socko.webserver.RequestHandler - Error handling request
java.nio.channels.ClosedChannelException: null
    at sun.nio.ch.SocketChannelImpl.ensureWriteOpen(SocketChannelImpl.java:249) ~[na:1.7.0_07]
    at sun.nio.ch.SocketChannelImpl.write(SocketChannelImpl.java:440) ~[na:1.7.0_07]
    at org.jboss.netty.channel.socket.nio.SocketSendBufferPool$PooledSendBuffer.transferTo(SocketSendBufferPool.java:242) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.write0(AbstractNioWorker.java:489) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.writeFromTaskLoop(AbstractNioWorker.java:444) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioChannel$WriteTask.run(AbstractNioChannel.java:366) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.processWriteTaskQueue(AbstractNioWorker.java:362) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.AbstractNioWorker.run(AbstractNioWorker.java:255) ~[netty-3.5.3.Final.jar:na]
    at org.jboss.netty.channel.socket.nio.NioWorker.run(NioWorker.java:35) ~[netty-3.5.3.Final.jar:na]
    at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1110) [na:1.7.0_07]
    at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:603) [na:1.7.0_07]
    at java.lang.Thread.run(Thread.java:722) [na:1.7.0_07]
```


OK.  I think I understand now.

I think the problem is that you are sending a text frame in the handshake event.  This will throw an error because the handshake as not finished.

Yes, we could (and probably should) modify Socko to send a handshake complete event.

However, I not sure that will solve all your problems.  What if you send a text frame after the server thinks handshake is complete but before the client completed its handshake?

Would a better solution be to get the client to send a "registration" type message to the server after the client has completed its handshake?  For example, the client can just send "ready" in a text frame.  In this way, the server could be 100% sure that the client is ready.


In last paragraph of section 4.2 of RFC 6455 , it said that:

```
   This completes the server's handshake.  If the server finishes these
   steps without aborting the WebSocket handshake, the server considers
   the WebSocket connection to be established and that the WebSocket
   connection is in the OPEN state.  At this point, the server may begin
   sending (and receiving) data.
```

If I understand this correctly, after sever complete the handshake, we can assume that the client is ready to receive text frame, and it should do, according to the spec.

By the way, send a 'registration' message back to server in client's onopen callback can solve the problem, but I feel this is more like a workaround than a solution, so I think we should a add a handshake complete event.


@vibul: Maybe something we want to have in netty directly ?

Bye,
Norman

2012/9/8 Yu Changyuan notifications@github.com

> In last paragraph of section 4.2 of RFC 6455 , it said that:
> 
>    This completes the server's handshake.  If the server finishes these
>    steps without aborting the WebSocket handshake, the server considers
>    the WebSocket connection to be established and that the WebSocket
>    connection is in the OPEN state.  At this point, the server may begin
>    sending (and receiving) data.
> 
> If I understand this correctly, after sever complete the handshake, we can
> assume that the client is ready to receive text frame, and it should do,
> according to the spec.
> 
> By the way, send a 'registration' message back to server in client's
> onopen callback can solve the problem, but I feel this is more like a
> workaround than a solution, so I think we should a add a handshake complete
> event.
> 
> —
> Reply to this email directly or view it on GitHubhttps://github.com/mashupbots/socko/issues/41#issuecomment-8385599.


Hi Yu

Thanks for digging up the rfc. 

I agree with you that we should have an event for it. 

If I have time tomorrow, I will check it in. 

I was not trying to push a work around but suggest some defensive programming. 

To me, getting a positive confirmation that the client is ready lets me know everything is ok. 

V

Sent from my iPhone

On 08/09/2012, at 6:20 PM, Yu Changyuan notifications@github.com wrote:

> In last paragraph of section 4.2 of RFC 6455 , it said that:
> 
>    This completes the server's handshake.  If the server finishes these
>    steps without aborting the WebSocket handshake, the server considers
>    the WebSocket connection to be established and that the WebSocket
>    connection is in the OPEN state.  At this point, the server may begin
>    sending (and receiving) data.
> If I understand this correctly, after sever complete the handshake, we can assume that the client is ready to receive text frame, and it should do, according to the spec.
> 
> By the way, send a 'registration' message back to server in client's onopen callback can solve the problem, but I feel this is more like a workaround than a solution, so I think we should a add a handshake complete event.
> 
> —
> Reply to this email directly or view it on GitHub.


Hi Norman

Netty does not raise an event as such. It uses the handshaker classes. 

Netty coders can just execute their code after calling the handshaker. 

In fact, that is exactly how I am planning to implement this new event for Socko. 

V

Sent from my iPhone

On 08/09/2012, at 9:26 PM, Norman Maurer notifications@github.com wrote:

> @vibul: Maybe something we want to have in netty directly ? 
> 
> Bye, 
> Norman 
> 
> 2012/9/8 Yu Changyuan notifications@github.com 
> 
> > In last paragraph of section 4.2 of RFC 6455 , it said that: 
> > 
> > This completes the server's handshake. If the server finishes these 
> > steps without aborting the WebSocket handshake, the server considers 
> > the WebSocket connection to be established and that the WebSocket 
> > connection is in the OPEN state. At this point, the server may begin 
> > sending (and receiving) data. 
> > 
> > If I understand this correctly, after sever complete the handshake, we can 
> > assume that the client is ready to receive text frame, and it should do, 
> > according to the spec. 
> > 
> > By the way, send a 'registration' message back to server in client's 
> > onopen callback can solve the problem, but I feel this is more like a 
> > workaround than a solution, so I think we should a add a handshake complete 
> > event. 
> > 
> > — 
> > Reply to this email directly or view it on GitHubhttps://github.com/mashupbots/socko/issues/41#issuecomment-8385599. 
> > 
> > —
> > Reply to this email directly or view it on GitHub.


Hi Yu,

What do you think of the changes?

```
wsHandshake.authorize(onComplete = Some((event: WebSocketHandshakeEvent) => {
  webSocketBroadcaster ! new WebSocketBroadcasterRegistration(event)
}))
```

I thought of using a callback because I'm of the thinking that events are more client initiated - hence the need for routing.

In this instance, providing a callback to authorize() seems to make sense because you only want to send data to the client after a successful handshake.


I think this change is OK and the code clearly show that after "authorize", the handshake might not complete so need an "onComplete" callback. 

PS:  Are there any  corresponding changes in the library(I don't find any in commit history)?


Yes. See 

https://github.com/mashupbots/socko/commit/ddf65e6b6aae017a88370cb9341dc0c714739457

Will release new socko version when I get a chance tomorrow. 

V

Sent from my iPhone

On 09/09/2012, at 3:23 PM, Yu Changyuan notifications@github.com wrote:

> I think this change is OK and the code clearly show that after "authorize", the handshake might not complete so need an "onComplete" callback.
> 
> PS: Are there any corresponding changes in the library(I don't find any in commit history)?
> 
> —
> Reply to this email directly or view it on GitHub.


Looking forward for the new release, and hope the new release be published to maven central soon.

PS: Another question, it seems that the socko library on maven central is compiled with java 7, and not works with java 6, are there any reason for using java 7?


Released.  Might have to wait a few hours for the JAR to get to maven central.

I've used Java 7 because
- it seems to run a bit faster.  
- SPDY is also only supported on Java 7
- Java 7 now supported on osx
