Ignore case comparing http 'Upgrade' header value 

On line 209 in HttpRequestMessage.scala:
Instead: 
(upgrade != null && upgrade == "websocket")
Do:
(upgrade != null && upgrade.equalsIgnoreCase("websocket"))


Hi,

This is a duplicate of #22.  Can I ask which client you are using? I think technically, it is meant to be case sensitive.

I'll put out a minor release of Socko so that you get all the minor fixes so far.

Thanks


We are using an Autobahn client (http://autobahn.ws/). 

According to W3C:
"HTTP header fields, which include general-header (section 4.5), request-header (section 5.3), response-header (section 6.2), and entity-header (section 7.1) fields, follow the same generic format as that given in Section 3.1 of RFC 822 [9]. Each header field consists of a name followed by a colon (":") and the field value. Field names are case-insensitive."
http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2


Agreed that the field names should be case insensitive, however unless I've misundestood the issue, "websocket" is the field value and can be case sensitive.

According to [RFC 6455](http://tools.ietf.org/html/rfc6455), "The request MUST contain an |Upgrade| header field whose value MUST include the "websocket" keyword."

Any how, the fix is made. I've also released it in v0.2.1.

Thanks


Yeah, you're right, Vibul. It seems that I misread, it is only related to field names, not values.

And thanks for the fix.


FWIW, from RFC6455, p18:

"   2.  If the response lacks an |Upgrade| header field or the |Upgrade|
       header field contains a value that is not an ASCII case-
       insensitive match for the value "websocket", the client MUST
       _Fail the WebSocket Connection_."

"WebSocket" is as fine as "wEbSoCkEt" ..


Thanks for pointing this out @oberstet. I did not see that bit of the specs and you are correct. With the pull request associated with this ticket, Socko supports case insensitive comparison in v0.2.1.
